---
import Layout from "../layouts/Layout.astro";
import Button from "../components/Button.astro";
import ResourceCard from "../components/ResourceCard.astro";

import { getResources } from "../utils/sanity";
const resources = await getResources();
export const prerender = false;
---

<Layout title="Resources">
  { resources ?

  <section id="nav-buttons">
    <p id="instructions">Use the buttons to skip to a category.</p>
    { resources ? resources.map(category =>
      <Button link=`#${category.title}` text={category.title} />
    ) : null }
  </section>
  <section id="resources">
    { resources ? resources.map(category =>
    <div class="resource-category" id={category.title}>
      <h3 class="category-title">{category.title}</h3>
      <div class="category-cards">{category.cards.map(card => <ResourceCard content={card.content} />)}</div>
    </div>
    ) : null }
  </section>

  : <h2>Coming Soon!</h2> }
</Layout>

<style>
  #nav-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 3em;
  }
  #instructions {
    width: 100%;
    text-align: center;
  }
  #resources {
    margin-bottom: 14em;
  }
  .resource-category {
    margin-bottom: 5em;
  }
  .category-title {
    font-weight: 600;
    font-size: 2em;
    text-align: center;
    margin-bottom: .5em;
  }
  .category-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 7vh 5%;
  }
</style>

<style is:inline>
  #nav-buttons .btn {
    font-size: 1em;
    padding: .5em 1em;
    box-shadow: 5px 5px 0px var(--gray);
  }
</style>