---
import { Image } from 'astro:assets';
import { urlFor } from "../utils/image";

interface Props {
    photo: {
        width: number;
        height: number;
    };
    name: string;
    position: string;
    contact: string;
}
const { photo, name, position, contact } = Astro.props;
---

<div class="member-object">
    <Image
        src={urlFor(photo).width(photo.width).height(photo.height).url()}
        alt='Kenilworth Park'
        width={photo.width}
        height={photo.height} />
    <p class="name">{name}</p>
    <p class="position">{position}</p>
    <p class="contact">{contact}</p>
</div>

<style>
    .member-object {
        width: 20%;
        min-width: fit-content;
        height: auto;
        text-align: center;
    }
    .member-object img {
        width: 100%;
        /* max-width: 150px; */
        height: auto;
        border-radius: 100%;
        object-fit: cover;
        aspect-ratio: 1;
    }
    .member-object p {
        margin: 0;
    }
    .name {
        font-weight: 700;
        font-size: 1.2em;
    }
    .position {
        font-style: italic;
    }

    @media (max-width: 1200px) {
        .member-object {
            width: 45%;
        }
    }
    @media (max-width: 500px) {
        .member-object {
            width: 100%;
        }
    }
</style>